.PremiereImage{
    background-image: url("../image/image1.png");
    height: 600px;
    width: 90%;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: 40px;
}
ul{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    list-style: none;
}
.imageLogement{
    background-color:rgb(197, 218, 219);
    margin-left: 100px;
    margin-right: 100px;
}
h4{
    display: flex;
    font-size: 480%;
    position: relative;
    bottom: 600px;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    margin-top: 220px;
}