.navigation {
    display: flex;
    justify-content: space-between;
    font-size: 200%;
}

ul {
    display: flex;
    margin-right: 32px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: lightcoral;
}

li {
    cursor: pointer;
}